[submodule "esp32/lib/PicoROS"]
	path = esp32/lib/PicoROS
	url = https://github.com/Pico-ROS/Pico-ROS-software.git
[submodule "esp32/lib/Micro-CDR"]
	path = esp32/lib/Micro-CDR
	url = https://github.com/eProsima/Micro-CDR.git
